{% extends 'base.html' %}
{% set active = "Article" %}

{% block title %}
Article
{% endblock %}

{% block content %}

<!--
Ravi Patel, rp837@drexel.edu
CS530: DUI Project
-->

<section class="jumbotron" >
	<div class="container-fluid">
		<div align="center">
			<input type="image" onclick="playchange()" id=play src="/course/img/play.png" title="Click Me to Play" alt="play button" style="max-height: 50px;">
			<input type="image" onclick="pausechange()" id=pause src="/course/img/pause.png" title="Click Me to Pause" alt="pause button"style="max-height: 50px;">
			<input type="image" onclick="stopchange()" id=stop src="/course/img/stop.png" title="Click Me to Stop" alt="stop button" style="max-height: 50px;">
		</div>

		<figure align="center">
			<img src="/course/img/i1.jpg" alt="Image" class="img-fluid">
		</figure>
			
		<div>
			<input type="image" onclick="decreaseFontSize(1)"src="/course/img/a1.png" title="Click Me to Decrease Font Size" alt="A- image" style="float: right; max-height:15px;">
			<input type="image" onclick="normalFontSize(1)" src="/course/img/a1.png" title="Click Me for Normal Font Size" alt="A image" style="float: right; max-height:20px;">
			<input type="image" onclick="increaseFontSize(1)" src="/course/img/a1.png" title="Click Me to Increase Font Size" alt="A+ image" style="float: right; max-height:25px;">
			<h5 style="float: right;">Text Size:</h5>
		</div>
		
		<article>
			<h2><a href="article1">$5 Million Gift to Drexel Will Establish Bentley Hall for Honors Students</a></h2>
			<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0">
				<div class="row" id="myDIV">
					<div class="col-lg-8">
						<p style="font-size:20px;">With the help of a $5 million gift from Greg S. Bentley, CEO of Bentley Systems, and his wife Caroline, Drexel University will create a new epicenter on its campus for honors students.</p>

						<p style="font-size:20px;">The gift comes at a time when construction is already underway at Calhoun Hall, an existing student residence hall, that will be fully renovated as part of Greg and Caroline Bentley Hall, a new complex that will house a true “living/learning” community for honors college students. In addition to the renovated student residence, Bentley Hall will also include a new, two-story glass and stone addition of about 10,800 square feet that will house the Pennoni Honors College offices and seminar rooms.</p>

						<p style="font-size:20px;">“I’m deeply grateful to Greg and Caroline Bentley, whose generous support will raise to a new level the already transformative honors experience for our most academically talented undergraduates, while also creating a state-of-the-art addition to our campus,” said Drexel University President <b>John Fry</b>.</p>
					</div>
						
					<div class="col-lg-4">
						<h4 style="font-size:20px;"><u>Highlight</u></h4>
						<p style="font-size:20px;">“I’m deeply grateful to Greg and Caroline Bentley, whose generous support will raise to a new level the already transformative honors experience for our most academically talented undergraduates, while also creating a state-of-the-art addition to our campus,” said Drexel University President <b>John Fry</b>.</p>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>

{% endblock %}